{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
  </head>
  <body>
    <header>
      <h1>Профессиональная фотосъемка</h1>
      <nav>
        <ul>
          <li><a href="/">Главная</a></li>
          <li><a href="/services">Услуги</a></li>
          <li><a href="/contacts">Контакты</a></li>
        </ul>
      </nav>
      <p>Запечатлейте лучшие моменты вашей жизни</p>
    </header>
    <main class="container">{% block content %}{% endblock %}</main>
    <footer>
      <p>Свяжитесь с нами: info@photographer.com</p>
      <p>Адрес: Jl. Sunset Road No.123, Bali, Indonesia</p>
      <p>Телефон: +62 123 456 789</p>
    </footer>
  </body>
</html>
