{% extends 'base.html' %}
{% load static %}
{% block title %}Услуги{% endblock %} 
{% block content%}
<section id="services">
  <h2>Наши услуги</h2>
  <p>
    Мы — команда профессиональных фотографов, которые помогут вам запечатлеть
    лучшие моменты вашей жизни. Мы работаем в различных жанрах фотосъемки и
    готовы предложить вам широкий спектр услуг.
  </p>
  <p>
    Мы предлагаем широкий спектр услуг по фотосъемке: свадебная фотосъемка,
    портретная фотосъемка, фотосессии для детей и многое другое.
  </p>
  <h2>Запись на фотосессию</h2>
  <form method="post">
    {% csrf_token %} 
    {{ form.as_p }}
    <button type="submit">Отправить</button>
  </form>
</section>
{% endblock %}
